
<p>Cliquez sur une lettre :
    {{#each lettres}}
        <a href="/repertoire/{{this.lettre}}">{{this.lettre}}</a>
    {{/each}}
</p>

<a href=""><img   src="/images/vip/{{photoStar.0.photo}}" width="100" height="125" ></a>
<div id="infoStar">

    <p><b>Nom : </b>{{infoDeLaStar.prenom}} {{infoDeLaStar.nom}}</p>
    <p><b>Date de naissance : </b>{{formatDate infoDeLaStar.naissance 'LL' }}</p>
    <p><b>Nationalité :</b> {{infoDeLaStar.nationalite}}</p>

{{#if infoMannequin.0.nom}}

        <p><b>Profession : </b>Manequin</p>

        <p><b>Principal(aux) défilé(s)</b> : {{infoMannequin.0.defile_lieu}} ({{formatDate infoMannequin.0.defile_date 'MMMM YYYY'}}) de
            <a href="#"> {{infoMannequin.0.couturier_nom}}
                 <span style="line-height:25px;"><img src="/images/vip/{{infoMannequin.0.photo}}" width="50" height="55" style="float:left";>{{infoMannequin.0.couturier_nom}} {{formatTexte infoMannequin.0.texte}} </span>
            </a>
        </p>

{{/if}}

{{#if  infoCouturier }}

        <p><b>Profession : </b>Couturier</p>

        <p><b>Principal(aux) défilé(s)</b> : {{infoCouturier.0.defile_lieu}} ({{formatDate infoCouturier.0.defile_date 'MMMM YYYY'}})</p>

{{/if}}

{{#if infoChanteur}}

        <p><b>Profession : </b>Chanteur(se)</p>

        <p><b>Spécialité : </b>{{infoChanteur.0.chanteur_specialite}}</p>


        <p><b>Principal(aux) album(s)</b> :
            {{#each infoChanteur}}
                {{this.album_titre}}
            {{/each}}
        </p>
    <p><b>Maison de disque : </b>{{infoChanteur.0.maisondisque_nom}}

{{/if}}

{{#if  infoRealisateur }}

        <p><b>Profession : </b>Réalisateur</p>

    {{#if infoRealisateur.0.film_titre}}
            <p><b>Principal(aux) film(s)</b> :
                {{#each infoRealisateur}}
                    {{this.film_titre}} {{this.fim_date}}
                {{/each}}</p>
    {{/if}}


{{/if}}

{{#if infoActeur}}
        <p><b>Profession : </b>Acteur</p>
    {{#each infoActeur}}
            <p> Joue {{this.role}} dans {{this.film_titre}} ({{formatDate this.film_date 'MMMM YYYY'}}) de <a href="#"> {{this.realisateur_nom}} {{this.realisateur_prenom}}
                <span style="line-height:25px;"><img src="/images/vip/{{this.photo}}" width="50" height="55" style="float:left";>{{this.realisateur_nom}} {{this.realisateur_prenom}} {{formatTexte this.texte}} </span>
            </a>
            </p>
    {{/each}}
{{/if}}

{{#if infoMariage}}
    {{#each infoMariage}}
    <p><b>Mariage(s): </b>
        <a href="#">{{this.nom_conjoint}} {{this.prenom_conjoint}}

            <span style="line-height:25px;"><img src="/images/vip/{{this.photo}}" width="50" height="55" style="float:left";>{{this.nom_conjoint}} {{this.prenom_conjoint}} {{formatTexte this.texte}} </span>
        </a>

        {{#if this.mariage_fin}}
            ({{formatDate this.mariage_date 'MMMM YYYY'}} --> {{formatDate this.mariage_fin 'MMMM YYYY'}}) <b>lieu :</b> {{this.mariage_lieu}}
        {{else}}
            ({{formatDate this.mariage_date 'MMMM YYYY'}}) <b>lieu :</b> {{this.mariage_lieu}}
        {{/if}}
    </p>

    {{/each}}
{{/if}}

        <p><b>Liaison(s): </b> ...</p>
    <p><b>Qui suis-je ?: </b>{{infoDeLaStar.texte}}</p>
    {{#each photoStar}}
        {{#ifCond  @index '==' "0" }}

        {{else}}
            <a href=""  title="titre"><img   src="/images/vip/{{this.photo}}" width="100" height="125" ></a>

        {{/ifCond}}

    {{/each}}
</div>